---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <div class="row">
            <div class="col-sm-3" style="border-right: 1px solid #e3e3e3; height: 110%;">
              {%- if page.profile.image %}
                  {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

                  {% if page.profile.image_circular %}
                    {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
                  {% else %}
                    {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
                  {% endif %}

                  {% include figure.html 
                  path=profile_image_path 
                  class=profile_image_class
                  alt=page.profile.image -%}
              {% endif -%}
              {% if page.profile -%}
              <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
                {%- if page.profile.address %}
                <div class="address">
                  {{ page.profile.address }}
                </div>
                {%- endif %}
              </div>
              {%- endif %}
            </div>
            <div class="col-sm-9">
              <h1 class="post-title">
              {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
              </h1>
              <b>{{ page.identity }}</b>
              <p>{{ page.description }}</p>
              {%- if page.social %}
                {% include social.html %}
              {%- endif %}
            </div>
          </div>
        </header>
        
        <br>
        <article>
          <!-- Biography -->
          <!-- <hr class="post-separator"> -->
          <div class="clearfix">
            {{ content }}
          </div>

          <hr class="post-separator">

          <!-- News -->
          {% if page.news -%}
            <h3><a href="{{ '/news/' | relative_url }}" style="color: inherit; font-family:Times, serif">News</a></h3>
            {%- include news.html %}
          {%- endif %}

          <hr class="post-separator">

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h3><a href="{{ '/publications/' | relative_url }}" style="color: inherit; font-family:Times, serif">Publications</a></h3>
            {%- include selected_papers.html %}
          {%- endif %}

          <!-- Education -->
          <!-- {%- if page.education %}
            <h3><a href="{{ '/education/' | relative_url }}" style="color: inherit;">Educations</a></h3>
            <div class="education">
              {{ education.html }}
            </div>
          {%- endif %} -->
        </article>

</div>
